.text-decorator.none{
    text-decoration: none;
}

.botaoPost{
    border-color: orange !important;
    background-color: rgb(247, 204, 111) !important ;
    color: yellow !important;
    font-weight: bold !important;
}

.botaoDelete{
    border-color: rgb(255, 251, 0) !important;
    background-color: rgb(247, 111, 111)  !important;
    color: yellow !important;
    font-weight: bold !important;
    margin-left: 20px !important;
    }