.cursor{
    cursor: pointer !important;
    color: yellow;
   
}


.text-decorator-none{
    text-decoration: none;
}

.boxTeste{
    background-color: rgb(247, 204, 111) !important;
}

.fonteCursor{
    font-weight: bold !important;
}