.caixa{
    background-color: rgb(247, 211, 134);
}

.titulo{
    color: white !important;
    font-weight: bold !important;
}

.botao{
    border-color: orange !important;
    background-color: rgb(247, 204, 111) ;
    color: yellow !important;
    font-weight: bold !important;
}

.postagens{
background-color: white !important;
}